<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đăng ký người dùng</title>
</head>
<body>
<h2>Đăng ký người dùng</h2>

<form th:action="@{/users/register}" th:object="${user}" method="post">
    <div>
        <label>Họ tên:</label>
        <input type="text" th:field="*{username}" />
    </div>
    <div>
        <label>Mật khẩu:</label>
        <input type="password" th:field="*{password}" />
    </div>
    <div>
        <button type="submit">Đăng ký</button>
    </div>
</form>

</body>
</html>
